<!DOCTYPE html>
<html>

<head>

    <title>AI Device Advisor</title>

    <link rel="stylesheet" href="/static/v2/landing.css">
    <script src="/static/v2/landing.js" defer></script>

</head>

<body>

    <nav class="navbar">

        <div class="logo">
            AI Device Advisor
        </div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/phone">Phones</a>
            <a href="/laptop">Laptops</a>
            <a href="/pc-build">Custom PC Builds</a>
            <a href="/tablet">Tablets</a>
        </div>

    </nav>


    <section class="hero">

        <h1>Find The Perfect Device</h1>

        <p>
            Find the perfect phone, laptop or custom PC build
            based on your personal requirements.
        </p>

        <div class="device-selection">

            <a href="/phone" class="device-card">

                <div class="icon">📱</div>

                <h3>Smartphones</h3>

                <p>Find the best phone based on camera, battery, gaming and budget.</p>

            </a>


            <a href="/laptop" class="device-card">

                <div class="icon">🖥</div>

                <h3>PC Builder/Laptops</h3>

                <p>Build a custom PC with optimized components or get AI Powered laptop recommendations for work, gaming
                    and students.</p>

            </a>


            <a href="/tablet" class="device-card">

                <div class="icon">📟</div>

                <h3>Tablets</h3>

                <p>Find the best tablet for media, work, gaming or drawing.</p>

            </a>

        </div>

    </section>

</body>

</html>