<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>AI Device Advisor</h1>

    <p>What are you planning to buy?</p>

    <div class="device-options">

        <a href="/questionnaire/phone" class="device-card">
            📱 Phone
        </a>

        <a href="/questionnaire/laptop" class="device-card">
            💻 Laptop
        </a>

        <a href="/questionnaire/tablet" class="device-card">
            📟 Tablet
        </a>

    </div>

</body>

</html>