<h2>Phone Recommendation</h2>

<form action="/recommend" method="post">

Budget (₹):
<input type="text" name="budget"><br><br>

Preferred OS:
<select name="os">
<option>Android</option>
<option>iOS</option>
<option>No Preference</option>
</select>

<br><br>

Camera Importance:
<select name="camera">
<option>Low</option>
<option>Medium</option>
<option>High</option>
</select>

<br><br>

Gaming Importance:
<select name="gaming">
<option>Low</option>
<option>Medium</option>
<option>High</option>
</select>

<br><br>

Battery Importance:
<select name="battery">
<option>Low</option>
<option>Medium</option>
<option>High</option>
</select>

<br><br>

<button type="submit">Get Recommendation</button>

</form>